global  
   debug
   maxconn 2000

defaults
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    # errorfile 400 /etc/haproxy/errors/400.http
    # errorfile 403 /etc/haproxy/errors/403.http
    # errorfile 408 /etc/haproxy/errors/408.http
    # errorfile 500 /etc/haproxy/errors/500.http
    # errorfile 502 /etc/haproxy/errors/502.http
    # errorfile 503 /etc/haproxy/errors/503.http
    # errorfile 504 /etc/haproxy/errors/504.http
   
   
frontend http-in
	bind *:80
	default_backend servers
    
backend wechatservers

    option httpclose
    server wechat1 wechat-1:81 check
    server wechat2 wechat-2:82 check
    
listen stats
 
    bind *:9999
    stats enable
    stats hide-version
    stats uri /stats
    stats auth admin:admin@123
     